@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Jost:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Jost:ital,wght@1,900&family=Poppins:wght@400;500;600;700&display=swap');


*{
    background-color:  #c5e4eb;
    /* color:  #b6cbce; */
    font-family: "Bai Jamjuree", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    /* color:#eef3db; */
    font-weight: 700;
}

/*navbar*/
.navbar{
    /* background-color: #0d0d0d; */
    background-color: none;
    margin-top: 50px;
}
.navbar .nav-link{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #0d0d0d;
}
.navbar .nav-link:hover{
    color: #b6cbce;
}
